

#cardButtons {
	margin: 0 auto;
	text-align: center;
}

#cardContainer {
	margin: 0 auto;
	width: 85%;

}

.row {
	text-align: center;
}

.justify {
	justify-content: center;
	margin-bottom: 10px;
}

.card {
	margin: 10px 10px 15px 10px;
	border: 0px;
}

img {
	box-shadow: 10px 10px 25px -1px rgba(0,0,0,0.75);
	margin-bottom: 20px
}
// styling for carousel
// .carousel-inner.onebyone-carosel { margin: auto; width: 90%; }
// .onebyone-carosel .active.left { left: -33.33%; }
// .onebyone-carosel .active.right { left: 33.33%; }
// .onebyone-carosel .next { left: 33.33%; }
// .onebyone-carosel .prev { left: -33.33%; }
