

body {
    background-image: url("https://static.pexels.com/photos/264544/pexels-photo-264544.jpeg");
    background-size: cover;
}

#cardButtons {
	margin: 0 auto;
	text-align: center;
}

#cardContainer {
	margin: 0 auto;
	width: 85%;

}

.row {
	text-align: center;
}

.justify {
	justify-content: center;
	margin-bottom: 10px;
}

.card {
	margin: 10px 10px 15px 10px;
	border: 0px;
	padding-bottom: 17px;
}

.albumImg {
	box-shadow: 10px 10px 25px -1px rgba(0,0,0,0.75);
	margin-bottom: 20px
}

#welcomeText {
	font-family: 'Permanent Marker', cursive;
	font-size: 400px;
	color: white;
	text-align: center;
}


#mainTitleContainer {
	margin: auto;
	text-align: center;
}

#playlistText {
	font-family: 'Permanent Marker', cursive;
	color: white;
	font-size: 40px;
	line-height: 45px;
}

#playlistContainer {
	width: 70%;
	margin: auto;
}


#locatorContainer, iframe {
	display: block;
	margin: auto;
	margin-top: 50px;
	width: 95%;
}

#locatorText {
	font-family: 'Permanent Marker', cursive;
	color: white;
	font-size: 80px;
}

#centerButtonContainer {
	display: block;
	margin: auto;
	margin-bottom: 20px;
	width: 80%;
	text-align: center;

}

#vinylForm {
	max-width: 100%;
}

.form-group {
	color: white;
}

#mapid { height: 600px; }

@media screen and (max-width: 600px) {
    .headlineText {
        font-size: 10px;
        color: purple;
    }

}
