<!-- search bar pointing to database -->
<div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <input type="text" ng-model="artistSearch" id="userArtistInput" class="form-control" placeholder="Search by artist..." aria-label="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button" ng-click="searchLastFM(artistSearch)">Go!</button>
      </span>
    </div>
  </div>
</div>


<!-- ng-repeat of actual albums -->
<div ng-repeat= "album in arrayOfCustomVinylObjects">
	<div class="card" data-mbid="{{album.mbid}}" style="width: 20rem;">
	  <img class="card-img-top" src="{{album.album_image}}" alt="Card image cap">
	  <div class="card-block">
	    <h4 class="card-title">{{album.album_name}}</h4>
	    <p class="card-text">{{album.artist_name}}</p>
	    <a href="" ng-show="album.wishlisted !== true" ng-click="findMatchingMBID(album.mbid)" class="btn btn-primary">Add To Wishlist</a>
	    <a href="" ng-click="" class="btn btn-primary">Add To Owned</a>
	    <a href="#!/edit/{{album.firebaseID}}" ng-show="album.wishlisted || album.owned === true" ng-click="" class="btn btn-primary">Edit</a>
	    <a href="" ng-show="album.wishlisted || album.owned === true" ng-click="deleteVinyl(album.firebaseID)" class="btn btn-primary">Delete</a>
	  </div>
	</div>
</div>

<a href="#!/newVinyl" ng-click="" class="btn btn-primary btn-lg btn-block">Can't Find It? Create it!</a>