<nav class="navbar navbar-expand-lg navbar-light bg-light" ng-controller="navCtrl">
    <a class="navbar-brand" href="#">VYNL</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Your Collection<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!/wishlist">Wishlist</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Add Vinyl</a>
        </li>
      </ul>
    </div>



    <div>
      <button type="button" ng-click="logout()" class="btn btn-secondary btn-lg">Logout</button>
    </div>
</nav>