
<div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <input type="text" ng-model="artistSearch" id="userArtistInput" class="form-control" placeholder="Search by artist..." aria-label="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button" ng-click="searchLastFM(artistSearch)">Go!</button>
      </span>
    </div>
  </div>
</div>


<!-- <div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
	      <div uib-slide ng-repeat="album in arrayOfCustomVinylObjects track by album.firebaseID" index="album.firebaseID">
	        <img ng-src="{{album.album_image}}" style="margin:auto;">
	        <div class="carousel-caption">
	          <h4>BOOYA</h4>
	          <p>!!!!!!!</p>
	        </div>
	      </div>
	    </div>
	</div>
</div> -->

<!-- ng-repeat of actual albums -->
<div id="cardContainer">
	<div class="row">
		<div ng-repeat= "album in arrayOfCustomVinylObjects | filter: {wishlisted: true} | filter:artistSearch">
		  <div class="col-md-4">
			<div class="card" data-mbid="{{album.mbid}}" style="width: 20rem;">
			  <img class="card-img-top" src="{{album.album_image}}" alt="Card image cap">
			  <div class="card-block">
			    <h4 class="card-title">{{album.album_name}}</h4>
			    <p class="card-text">{{album.artist_name}}</p>
			    <a href="" ng-click="findMatchingMBIDforOwned(album.mbid)" class="btn btn-outline-success">+ Owned</a>
			    <a href="#!/edit/{{album.firebaseID}}" ng-show="album.wishlisted || album.owned === true" ng-click="" class="btn btn-outline-info">Edit</a>
			    <a href="" ng-show="album.wishlisted || album.owned === true" ng-click="deleteVinyl(album.firebaseID, album.mbid)" class="btn btn-outline-danger">Delete</a>
			  </div>
			</div>
		  </div>
		</div>
	</div>
</div>